<div class="container__block -half">
  <div class="form-item {{modifier_class}}">
    <label class="field-label">Flow purpose</label>
    <input type="text" class="text-field">
  </div>
</div>
<div class="container__block -half">
  <label class="field-label">Status</label>
  <div class="form-item">
    <label class="option -radio">
      <input checked type="radio" name="choice" id="choice1">
      <span class="option__indicator"></span>
      <span>Published</span>
    </label>
    <label class="option -radio">
      <input type="radio" name="choice" id="choice2">
      <span class="option__indicator"></span>
      <span>Draft</span>
    </label>
  </div>
</div>

<div id="jsx-slides" class="container__block -narrow flow__list"></div>
